<!-- Index -->
<body class="is-preload landing">
    <div id="page-wrapper">
        <%- partial('_partial/banner') %>
        <%- partial('_partial/article') %>
    </div>
    <%- partial('_partial/footer') %>
</body>