    <!-- Main -->
    <link rel="stylesheet" href="<%- config.root %>css/valine.css" />
    <div class="container">
        <h3 class="board">☡ 留言板 ☡</h3>
        <div id="vcomment">
        </div>
    </div>
    <style>
        #vcomment{
            padding: 1pc;
        }
    </style>