<body class="is-preload landing">
<div id="page-wrapper">
    <%- partial('_partial/banner') %>
    <div id="main" class="wrapper style1">
        <div class="container">
            <section id="content" class="wrapper style1 special fade-up">
                <header class="major">
                    <h2>留言板</h2>
                    <p>说点什么吧</p>
                </header>
                <div class="row gtr-150">
                    <div class="col-12 col-12-medium">
                        <%- partial('_partial/comment') %>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<%- partial('_partial/footer') %>
</body>